.header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding-inline: 60px;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.links a {
  color: white;
  text-decoration: none;
transition: 1.5S;
}

.links a:focus,
.links a:active,
.links a:target{
  text-decoration: underline;

}